.cervena {
    color: red;
}




.link {
    text-decoration: none;
    color: blue;
    font-size: larger;

}

.link:hover {
    text-decoration: none;
    color: black;
    
}

.welcome-text {
    font-size: 1.2rem;
}

table {
    text-align: center;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.table-header {
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    border-top: 1px solid black !important;
    height: 50px !important;
    background-color: #FFFFE8 !important;
    margin: auto !important;
}

thead {
    background-color: #FFFFE8 !important;


  height: 100px;
  
  vertical-align: middle !important;
  margin-bottom: 5px;
 
}

td {
    vertical-align: middle !important;
    vertical-align: middle !important;
}

th {
    border-top: 1px solid black !important;
    vertical-align: middle !important;

    
}

.btn-secondary {
    background-color: #0099FF !important;
    color: black !important;
}

