.link {
    text-decoration: none;
    color: blue;
    font-size: larger;

}

.link:hover {
    text-decoration: none;
    color: black;
    
}

.welcome-text {
    font-size: 1.2rem;
}

table {
    text-align: center;
    border-right: 3px solid black !important;
    border-left: 3px solid black !important;
    border-bottom: 3px solid black !important;
    border-top: 3px solid black !important;

    
}

.table-header {
    border-right: 3px solid black !important;
    border-left: 3px solid black !important;
    border-top: 3px solid black !important;
    border-bottom: 3px solid black !important;
    height: 50px !important;
    background-color: #FFFFE8 !important;
    margin: auto !important;
}

thead {
    background-color: #FFFFE8 !important;

    border-bottom: 3px solid black !important;
  height: 100px;
  
  vertical-align: middle !important;

 
}

td {
    vertical-align: middle !important;
    background-color: 		#F0F8FF!important;
}

th {
    border-top: 3px solid black !important;
    border-bottom: 3px solid black !important;
    vertical-align: middle !important;

    
}

.btn-secondary {
    background-color: #0099FF !important;
    color: black !important;
}

.card-header {
    background-color: #FFFFE8 !important;
    color: black !important;
    height: 60px;
    vertical-align: middle !important;
    font-size: x-large !important;
}


.stats {
    font-size: xx-large;
}

.card  {
    border: black solid 1px !important;
    margin-bottom: 15px;
    
}


.card-header
 {
    border-bottom: black solid 1px !important;
 }

 .login-option {
     font-size: large;
 }

 .invoice {
    text-decoration: none !important;
 }

 .order-table {
    font-size: 1rem;
 }

 .tip {
     font-size: large;
 }

 .calendar {
     font-size: x-large;
 }

.recommended a{
     font-size: larger;

}

.recommended a:hover{
    font-size: larger;
    color: black !important;
    text-decoration: underline !important;
}


 a:link{
     text-decoration: none !important;
 }
.navbar li a {
    font-size: large;
}

 .navbar-brand {
    font-size: 150px;
 }
 
.navbar {
    height: 10vh;
}

.navbar  ul li a:hover {
  
    text-decoration: underline !important;
}

.navbar-brand {
    font-size: 30px !important;
}

.menu{
   
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,185,125,1) 100%) !important;
}


.display-2{
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif;
}

.display-1{
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-weight: bold !important;
    background-color: #DCDCDC	 !important;
}

 .btn-primary  {
    background-color: rgb(224,164,116) !important;
    border: rgb(224,164,116) !important;
}

.mnozstvi {
    display: inline-block;
}

.formik {
    display: inline-block;
}

#ammountSpecial{
    width: 50px;
}

#foot {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,185,125,1) 100%) !important;

}

